/* Use import to split up your CSS into manageable chunks */
@import url("./reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
/* Feel free to add as many of these imports as you need */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');



/*-----header-----*/
header {
  width: 100%;
  background-color: #23312B;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 6.5rem;
  position: relative;
}
header .head-logo {
  font-family: 'Oswald', sans-serif;
  color: #FFF;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.1rem;
}
.header-logo-link {
  text-decoration: none;
}
.header-nav ul {
  text-align: center;
  padding: 0;
}
.hamburger-icon {
  color: #FFF;
  font-size: 2rem;
}
.header-nav, #checkbox-menu {
  display: none;
}
#checkbox-menu:checked ~ .header-nav {
  display: inline-block;
}
.header-nav li {
  display: inline-block;
}
.header-nav {
  position: absolute;
  background-color: #23312B;
  left: 3.55rem;
}
nav a {
  text-decoration: none;
  color: #FFF;
  padding: 0.8rem 1.2rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
}
nav a:hover {
  text-decoration: underline;
}
.current {
  text-decoration: underline;
}
.cart-icon {
  width: 45%;
  height: auto;
}
@media (min-width: 701px) {
  .header-nav {
    display: block;
    position: static;
  }
  .hamburger-icon {
    display: none;
  }
}
@media (max-width: 701px) {
  nav a {
    padding: 0.2rem 0.6rem;
  }
}


/*-----all-----*/
h1, h2, h3, h4, h5, h6, form, button {
  font-family: 'Oswald', sans-serif;
}
p {
  font-family: 'Abel', sans-serif;
}
button {
  background-color: #312329;
  color: #FFF;
  font-weight: 400;
  border-style: solid;
  border-color: #FFF;
  cursor: pointer;
}
section {
  margin-left: 5rem;
  margin-right: 5rem;
  margin-bottom: 5rem;
}


/*-----main-----*/
.shop-text-1, .shop-text-1-2, .shop-text-2, .shop-text-3 {
  letter-spacing: 0.1rem;
  margin: 1rem;
}
.banner-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: calc(100% * (100 / 300));
}
.banner-forest {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
}
.rd-logo {
  width: 25%;
  height: auto;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%)
}
.main-button {
  font-size: 1.3rem;
  padding: 0.4rem 1rem;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
.seperator-box {
  width: 100%;
  background-color: #23312B;
  height: 4.5rem;
  position: relative;
  margin-bottom: 5rem;
}
.shop-box-1 {
  position: relative;
}
.shop-image-1 {
  width: 100%;
  height: auto;
  flex-shrink: 0;
}
.shop-text-1 {
  position: absolute;
  bottom: 0%;
  left: 3%;
  color: #FFF;
  font-size: 2.5rem;
  padding-bottom: 2rem;
}
.shop-text-1-2 {
  position: absolute;
  bottom: 0;
  left: 3%;
  color: #FFF;
  font-size: 1.875rem;
}
.content-box-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.625rem;
}
.shop-box-2 {
  flex-basis: 850px;
  position: relative;
}
.shop-image-2 {
  max-width: 100%;
  height: auto;
}
.shop-text-2 {
  position: absolute;
  bottom: 0;
  left: 3%;
  color: #FFF;
  font-size: 1.875rem;
}
.shop-text-3 {
  position: absolute;
  bottom: 0%;
  left: 3%;
  color: #FFF;
  font-size: 1.25rem;
  padding-bottom: 2rem;
}
.sustainability-information {
  background-color: #23312B;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #FFF;
  margin-bottom: 5rem;
}
.sustainability-information p, .sustainability-header {
  margin-left: 5rem;
  margin-right: 5rem;
}
.sustainability-information p {
  font-size: 1.5rem;
}
.sustainability-information .sustainability-header {
  font-size: 2.5rem;
  font-weight: 400;
}
@media (max-width: 701px) {
  header p {
    font-size: 2rem;
  }
  section {
    margin-left: 0rem;
    margin-right: 0rem;
    margin-bottom: 2rem;
  }
  .seperator-box {
    margin-bottom: 2rem;
  }
  .shop-text-1 {
    font-size: 2rem;
  }
  .shop-text-1-2 {
    font-size: 1.2rem;
  }
  .shop-text-2 {
    font-size: 1.2rem;
  }
  .shop-text-3 {
    font-size: 1rem;
  }
  .sustainability-information p, .sustainability-header {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .sustainability-information .sustainability-header {
    font-size: 2rem;
  }
  h1 {
    text-align: center;
  }
  .sustainability-header {
    text-align: left;
  }
}


/*-----shop-----*/
h1 {
  font-size: 2rem;
}
.shop-page-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.625rem;
}
.jacket-page-link {
  text-decoration: none;
  color: #000;
}
.jacket-page-link:hover {
  text-decoration: underline;
}
.shop-page-boxes {
  flex-basis: 450px;
  display: flex;
  align-items: flex-end;
}
.shop-jacket-img {
  width: 100%;
  height: auto;
}
.jacket-info-1 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 1.5rem;
  color: #000;
}
.jacket-info-2 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-weight: 200;
  font-size: 1.2rem;
  color: #000;
}
@media (max-width: 1070px) {
  .shop-page-boxes {
    flex-basis: 300px;
  }
  .shop-page-content {
    justify-content: center;
  }
}


/*-----FridaRunner-----*/


    
/*-----about-----*/
.about-group-img {
  max-width: 50%;
  height: auto;
  float: left;
  padding-bottom: 2rem;
  padding-right: 2rem;
}
.about-info-1 {
  max-width: 50%;
  font-size: 1.2rem;
  float: right;
}
.about-info-2 {
  max-width: 50%;
  font-size: 1.2rem;
}
.choose-title {
  clear: both;
}
@media (max-width: 880px) {
  .about-group-img {
    float: none;
    padding: 0;
    max-width: 100%;

  }
  .about-info-1, .about-info-2 {
    float: none;
    margin: 0 auto;
    max-width: 40ch;
    padding: 0rem 0.5rem 1rem 0.5rem;
  }
  .about-header, .choose-title {
    text-align: center;
  }
}


/*-----contact-----*/
.contact-info-1 {
  max-width: 50%;
  font-size: 1.2rem;
}
.form-box {
  max-width: 30rem;
  min-height: 38rem;
  background-color: #23312b;
  border-radius: 1rem;
  position: relative;
}
.contact-form {
  color: #FFF;
  font-weight: 300;
  font-size: 1.3rem;
  padding: 2rem 2rem;
}
.labels {
  display: flex;
  padding-top: 0.8rem;
}
.input-box {
  display: flex;
  justify-content: center;
  width: 100%;
}
.form-button {
  font-size: 1rem;
  padding: 0.5rem 1.8rem;
  display: block;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%)
}
input {
  font-size: 1.2rem;
}
@media (max-width: 701px) {
  .contact-info-1 {
    margin: 0 auto;
    max-width: 40ch;
    padding: 0rem 0.5rem 1rem 0.5rem;
  }
  .form-box {
    max-width: 100%;
    border-radius: 0;
  }
}


/*-----temporary page-----*/
.temp-info {
  font-size: 1.5rem;
}
@media (max-width: 701px) {
  .temp-info {
    margin: 0 auto;
    max-width: 40ch;
    padding: 0rem 0.5rem 1rem 0.5rem;
  }
}


/*-----footer-----*/
footer { 
  width: 100%;
  background-color: #23312B;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.footer-nav a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-left: 1rem;
  font-family: 'Oswald', sans-serif;
  color: #FFF;
  font-weight: 300;
  font-size: 1.5rem;
}
.footer-nav a:hover {
  text-decoration: underline;
}
.footer-form{
  font-family: 'Oswald', sans-serif;
  color: #FFF;
  font-weight: 300;
  font-size: 1.2rem;
}
.footer-form-attributes {
  margin: 0.2rem;
}
.footer-logo {
  mix-blend-mode: soft-light;
  width: 50%;
  height: auto;
  transform: translate(50%);
  margin-top: 0.5rem;
}
.footer-follow {
  font-family: 'Oswald', sans-serif;
  color: #FFF;
  font-weight: 300;
  font-size: 1.5rem;
  width: 50%;
  margin-top: 0;
  margin-bottom: 0.5rem;
  transform: translate(50%);
  text-align: center;
}
.footer-socials-box {
  width: 50%;
  transform: translate(50%);
  text-align: center;
}
.footer-socials {
  width: 20%;
  height: auto;
}
.club-button {
  font-size: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
}
@media (max-width: 840px) {
  footer {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .footer-nav {
    margin-bottom: 2rem;
  }
  .footer-nav a {
    margin-left: 0;
    text-align: center;
  }
  .footer-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
  }
}
